@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

body {
  font-family: "VT323", monospace;
  width: 100%;
  overflow: hidden;
  background-color: #111827;
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

#board {
  position: relative;
  width: 400px;
  height: 600px;
  background-color: black;
  overflow: hidden;
  display: none;
}

#jet {
  position: absolute;
  width: 75px;
  height: 75px;
  background: url("img/foto1.png");
  background-size: contain;
  background-repeat: no-repeat;
  left: 45%;
  bottom: 40px;
}

.bullets {
  position: absolute;
  bottom: 100px;
  margin-left: 2.1em;
  width: 20px;
  height: 20px;
  background: url("img/peluru.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.rocks {
  position: absolute;
  top: 100px;
  width: 60px;
  height: 80px;
  background: url("img/foto2.png");
  rotate: 180deg;
  background-size: contain;
  background-repeat: no-repeat;
}

.card {
  position: relative;
  width: 400px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #faf7f0;
  box-shadow: 0px 1px 4px 0px black;
}

.card-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 600px;
  background-color: #faf7f0;
  box-shadow: 0px 1px 4px 0px black;
  display: none;
  position: relative;
}

.btn {
  display: block;
  width: 100%;
  border: none;
  margin: 12px 0;
  padding: 1em 4em;
  color: white;
  transition: 0.7s;
  background-color: #3c4048;
  box-shadow: 0px 1px 4px 0px black;
  font-family: "VT323", monospace;
  font-size: 14px;
}

.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn:hover {
  background-color: #b2b2b2;
  border-radius: 6px;
  transition: 0.7s;
}

.game-title {
  text-align: center;
  font-size: 50px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.item {
  position: relative;
  height: 5rem;
  width: 5rem;
  margin-left: 10px;
  margin-right: 10px;
  background-image: url("img/foto1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.7s;
}

.item:hover {
  opacity: 60%;
  rotate: 30deg;
  transition: 0.7s;
}

.item-2 {
  background-image: url("img/foto2.png");
}

.item-2:hover {
  rotate: -30deg;
}

.item-3 {
  background-image: url("img/foto3.png");
}

#points {
  color: white;
  margin-left: 5px;
}

.hs {
  font-size: 36px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.hs > img {
  margin-left: 10px;
  width: 32px;
}

.game-over {
  background-color: white;
  display: none;
  padding: 64px;
}

.game-over > h3 {
  text-align: center;
}

.game-over > p {
  text-align: center;
  font-size: 15px;
}

.other-btn {
  width: 100%;
}

.shoot {
  color: rgb(196, 9, 9);
  border-bottom: 4px solid rgb(196, 9, 9);
}

.rocket {
  border-top: 4px solid #111827;
}

.roket-1 {
  position: absolute;
  top: 3em;
  left: -3em;
  rotate: 140deg;
}

.roket-2 {
  position: absolute;
  bottom: 2em;
  left: 15em;
  rotate: -30deg;
}

@media only screen and (max-width: 640px) {
  body,
  html {
    margin: 0;
    padding: 0;
  }

  #board {
    width: 400px;
    height: 600px;
    background-color: black;
    overflow: hidden;
    overflow-x: hidden;
    display: none;
  }
}
